#painting-prices {
  margin: 10%;
  .inch {
    width: 50px;
  }
  .dollar {
    width: 100px;
  }
  font-size: 20px;
  .and {
    margin: 20px;
  }
  .answer {
    font-size: 24px;
    color: blue;
  }
  .radio {
    font-size: 12px;
  }
}