* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
}

.tile {
  padding: 20px;
}


@import 'forceDirection/main';
@import 'gravity/main';
@import 'mandelbrot/main';

