$darkgrey: #555;

#home {
  .sidebar {
    background-color: #eee;
    height: 90vh;
    margin-bottom: 5vh;
  }

  .vertex {
    position: absolute;
    height: 50px;
    width: 50px;
    border: 3px solid $darkgrey;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    font-size: 25px;
    z-index: 1;
    cursor: pointer;
  }

  .num {
    margin-top: 5px;
  }
  .graph-border {
    height: 90vh;
    background-color: $darkgrey;
    padding: 25px;
    margin-bottom: 5vh;
  }
  .graph {
    background-color: $darkgrey;
    height: 100%;
  }

  h1 {
    margin-top: 40px;
    text-align: center;
  }

  .selected {
    background-color: blue;
    color: white;
  }

  .edge {
    height: 5px;
    background-color: #07F717;
    position: absolute;
    z-index: 0;
  }

  .force {
    margin: auto;
    width: 82%;
    border: none;
  }

  .force-start {
    background-color: #07F717;
    color: $darkgrey;
  }

  .force-stop {
    background-color: red;
    color: white;
  }

  .button-row {
    margin: 15px auto;
    width: 90%;
    text-align: center;
  }

  .btn-default {
    width: 40%;
  }

  .btn-group {
    width: 40%;
  }

  .presets {
    font-size: 20px;
    height: 100%;
  }

  h5 {
    margin-top: 20px;
  }

  li {
    padding-left: 20px;
    cursor: pointer;
  }

}

