#home {
  .sidebar {
    background-color: #eee;
    height: 90vh;
    margin-bottom: 5vh;
  }

  .vertex {
    position: absolute;
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    font-size: 25px;
    z-index: 1;
    cursor: pointer;
  }

  .num {
    margin-top: 5px;
  }
  .graph-border {
    height: 90vh;
    background-color: #555;
    padding: 25px;
    margin-bottom: 5vh;
  }
  .graph {
    background-color: #555;
    height: 100%;
  }

  h1 {
    margin-top: 40px;
    text-align: center;
  }

  .selected {
    background-color: blue;
    color: white;
  }

  .edge {
    height: 5px;
    background-color: green;
    position: absolute;
    z-index: 0;
  }

  .force {
    width: 80%;
    height: 100px;
    margin: auto;
    font-size: 20px;
  }

  .force-start {
    background-color: green;
  }

  .force-stop {
    background-color: red;
  }

  .button-row {
    margin: 20px auto;
    width: 100%;
    text-align: center;
  }

  .presets {
    font-size: 20px;
  }
}

