#gravityCanvas {
    background-color: black;
}

#dreamCanvas {
    background-color: black;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}

.demolink {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px;
    color: white;
}
